# Node modules
node_modules/
client/node_modules/
server/node_modules/



# Build folders
client/dist/
client/build/
server/dist/

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db